<div class="border-blue-500 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-8 rounded-xl">

  <button class="absolute right-10 top-2 cursor-pointer rounded-3xl font-bold" (click)="changeRoute('/billboard')">X</button>

  <h2 class="text-3xl font-bold text-blue-500">EDITAR O CREAR</h2>
  <form [formGroup]="billboardForm" (ngSubmit)="onSubmitBillBoard()">
    <div class="flex flex-col items-start gap-y-3 w-96 mt-5">
      <label htmlFor="id" class="text-sm font-medium cursor-pointer"> </label>
      <input
        type="time"
        formControlName="time"
        placeholder="time"
        class="w-full p-4 bg-transparent border border-gray-200 rounded-lg outline-none"
      />
    </div>
    <div class="flex flex-col items-start gap-y-3  mt-5">
      <select
        formControlName="movie"
        class="w-full p-4 bg-transparent border border-gray-200 rounded-lg outline-none"
      >
        <option value="">seleccione..</option>
        @for (item of listOfMovies; track $index) {
        <option [value]="item.id">{{ item.name }}</option>
        }
      </select>
    </div>
    <div class="flex flex-col items-start gap-y-3  mt-5">
      <select
        formControlName="room"
        class="w-full p-4 bg-transparent border border-gray-200 rounded-lg outline-none"
      >
        <option value="">seleccione..</option>
        @for (item of listOfRooms; track $index) {
        <option [value]="item.id">{{ item.name }}</option>
        }
      </select>
    </div>
    <button type="submit" [disabled]="!billboardForm.valid" class="float-end mt-5 rounded-lg font-medium bg-transparent border border-blue-500 text-blue-500 px-6 py-3">
      Enviar
    </button>
  </form>
</div>
