<section class="p-8">
  <div class="grid grid-cols-2 gap-2"> 
@if (listOfReservations) {
    @if (activeBillboard) {
     <h2 class="text-3xl font-bold text-blue-500"> {{activeBillboard.movie.name}}</h2>
     <p> <strong>{{activeBillboard.sala.name}}</strong>  {{activeBillboard.time}}</p>
    }
    @for (resevation of listOfReservations; track $index) {
        
    }
}@else {
<app-loading></app-loading>
}

<div class="flex flex-col gap-2 p-4"> 
    @for (row of grid; track $index; let i =$index) {
    <div class="flex gap-2"> 
        @for (cell of row; track $index;let j = $index) {
      <div
            
        class=" w-12 h-12 flex items-center justify-center border border-gray-300 cursor-pointer select-none"
        [class.bg-blue-500]="isSelected(i, j)"
        [class.text-white]="isSelected(i, j)"
        [class.no-clickeable]="notAvailableSeats.includes(cell)"
        (click)="toggleSelection(i, j)"
      >
        {{ cell }}
      </div>
    }
    </div>
}
<div>
  <button (click)="onSendSeatAssegment()" class="cursor-pointer rounded-lg font-medium bg-transparent border border-blue-500 text-blue-500 px-6 py-3">
      Solicitar Sillas
  </button>
</div>
  </div>

 <img [src]="activeBillboard.movie.imageUrl" class="h-full" >
</div>
</section>
<section class="p-3 text-center">
  <h1 class="text-2xl font-bold text-blue-500">TUS RESERVACIONES</h1>
  @for (item of userReservatiosn; track $index) {
    <div class="mt-2">
    {{item.seat}} - {{item.reservation.movie.name}} - {{item.reservation.time}} 
    <button (click)="deleteHandler(item.id)" class=" cursor-pointer  p-1 rounded-lg bg-red-500/60">Eliminar</button>
  </div>
  }
</section>